*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-wrapper{
  display: flex;
  height: 100vh;
  background-color: #001829;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider{
  position: relative;
  width: 70%;
  height: 60%;
  border-radius: 30px;
}

.items-wrapper{
  height: 100%;
}

.items-wrapper img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
}

.hide{
  display: none;
}

.btn-arrow{
  position: absolute;
  right: 0;
  transform: translateX(-300%);
  width: 30px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  transition: all 0.3s;
}

.btn-arrow.top{
  top: 15px;
}

.btn-arrow.down{
  bottom: 15px;
}

.thumbnail-wrapper{
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100%;
  top: 0;
  right: 0;
  background-color: black;
}

.thumb{
  object-fit: cover;
  height: 20% ;
  opacity: 0.5;
}

.active{
  opacity: 1;
  border: 2px solid white;
}